if SHIELD_ZMK_OLED_GIFS_MODULE

config LV_Z_VDB_SIZE
    default 64

config LV_DPI_DEF
    default 148

config LV_Z_BITS_PER_PIXEL
    default 1

choice LV_COLOR_DEPTH
    default LV_COLOR_DEPTH_1
endchoice

config LV_Z_MEM_POOL_SIZE
    default 4096 if ZMK_DISPLAY_STATUS_SCREEN_CUSTOM

config NICE_OLED_ROTATE_270
    bool "Rotate the portrait view counter-clockwise"
    default n
    help
      Change this if the OLED is mounted in the opposite direction.

config NICE_OLED_VIEWER
    bool
    default y if ZMK_DISPLAY
    select LV_USE_CANVAS
    select LV_USE_IMG
    select LV_FONT_UNSCII_8

endif
